<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Place Your Order</title>
    <th:block th:replace="layout::link-css"></th:block>
</head>
<body>
<th:block th:replace="layout::header"></th:block>

<div class="container">
    <h1 th:text="${title}"></h1>
    <form th:action="@{/order/submit}" method="post">
        <div class="mb-3">
            <label for="customerName" class="form-label">Your Name:</label>
            <input type="text" id="customerName" name="customerName" class="formcontrol" required>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Dia Chi:</label>
            <input type="text" id="address" name="address" class="formcontrol" required>
        </div>
        <div class="mb-3">
            <label for="number" class="form-label">SDT:</label>
            <input type="text" id="number" name="number" class="formcontrol" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Ghi Chu:</label>
            <input type="text" id="description" name="description" class="formcontrol" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit Order</button>
    </form>
    </div>
</div>

<th:block th:replace="layout::footer"></th:block>
</body>
</html>
